<div class="container">
  <div class="row">
    <div class="col-9 col-md-6 mx-auto text-center">
      <h1>Sign up</h1>

      <%= form_for @user do |f| %>
        <div class="fields">
          <%= f.label :account %>
          <%= f.text_field :account %>
        </div>

        <div class="fields">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class="fields">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <%= f.submit "Sign up", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
