<div id="app">
  <App></App>
</div>

<div class="leave_message px-2">
  <div class="page-pic py-3">
    <img src="https://picsum.photos/1200/200/?random=1" class="w-100">
  </div>

  <p class="content">
    <span>
      辦公室是啊，走勢當初消費對此都是國語引進描述，女兒徹底呵呵。
    </span>
  </p>

  <p class="warning d-flex text-center align-items-center">
    上方為使用者心情點播留言區，不代表本站立場
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-9 col-md-5 mx-auto">
      <div class="link-group">
        <%= render "link", name: "announce", link: "boards" %>
        <%= render "link", name: "favorites", link: favorites_path %>
        <%= render "link", name: "class", link: "boards" %>
        <%= render "link", name: "mail", link: "boards" %>
        <%= render "link", name: "talk", link: "boards" %>
        <%= render "link", name: "user", link: "boards" %>
        <%= render "link", name: "xyz", link: "boards" %>
        <%= render "link", name: "play", link: "boards" %>
        <%= render "link", name: "namelist", link: "boards" %>
        <%= render "link", name: "goodbye", link: sign_out_users_path %>
      </div>
    </div>
  </div>
</div>

  


