<h1>
看板 <%= @board.title %>
<small><%= link_to  "我的最愛", favorite_board_path(@board), method: :post %></small>
</h1>


<p>
  [ 版主：<%= display_bm(@board) %> ]
</p>

<%= link_to "new Post", new_board_post_path(@board) %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.display_username %>
      <%= link_to post.title, post_path(post) %>
      <%= link_to  "編輯", edit_post_path(post) %>
    </li>
  <% end %>
</ul>

<%= link_to "Board Index", boards_path %>
