<% if post.errors.any? %>
  <ul>
    <% post.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: post, url: board_posts_path, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.rich_text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.submit "Create Post", class: "btn btn-primary" %> 
  </div>
<% end %>