<ul>
  <li>
    <span>作者</span>
    <span><%= @post.user.account %></span>
  </li>
  <li>
    <span>標題</span>
    <span><%= @post.title %></span>
  </li>
  <li>
    <span>時間</span>
    <span><%= @post.created_at %></span>
  </li>
</ul>


<p>
  <%= @post.content %>
  <br>
  <%= image_tag @post.photo.variant(resize_to_limit: [100, 100]) if @post.photo.attached? %>
</p>

<hr>

<%= form_with(model: @comment, url: post_comments_path(@post), class: "form-inline") do |f| %>
  <div class="form-group">
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <%= f.submit "送出", class: "btn btn-primary ml-2" %>
<% end %>

<hr>

<ul>
  <h3>----All post comments----</h3>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.user.account %> :
      <%= comment.content %>
    </li>
  <% end %>
</ul>